*{
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.diagramCards{
  background-color: #FFF;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  width: 1000px;
  height: 500px;
  border-width: 2px;
}

.form{
  display: flex;
  justify-content: space-between;
}

/* dashboard CSS */

.dashboardHeader{
  top: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  background-color: rgb(53, 110, 232);

  display: flex;
  justify-content: space-between;
}

.dashboardBtn{
  background-color: rgb(53, 110, 232);
}

.activeLink{
  background-color: rgb(64,150,255);
}

.App-logo{
  color: white;
  background-color: none;
  width: 55px;
  height: 55px;
}

.Link-logo{
  width: 60px;
  height: 55px;
  z-index: 1;
  text-align: center;
}

.App-logo:hover{
  background-color: none !important;
}
